p

     .modal-header
        h1 Event: {{event.ID}}

     .modal-body
       //{{event}}
       form(name='myForm',,class="form-signin")
        .control-group(ng-class='{error: myForm.name.$invalid}')
            //label id
                | for {{vendor.VendorID}}
            label Name

            input(type='text', style='width:300px', name='name', ng-model='event.name', required='required')


            label Address
            textarea(name='Address', ng-model='event.location.street')
            br
            label City
            input(name='City', ng-model='event.location.City')
            br



     .modal-footer
            //button.btn.btn-primary(ng-click='ok()') OK
            button.btn.btn-primary(ng-click='ok(vendor)', ng-disabled='isClean() || myForm.$invalid') Save
            button.btn.btn-warning(ng-click='cancel()') Cancel