p
    #inside
    #header
        h1
        | Food Inventory - Jade part2
    #main-content

    p foo = {{food}}


        .container
            .span11
            table
                thead
                    tr.row
                        th Name
                        th Type
                        th Expiration
                        th Quantity
                        th Percent Remaining
                tbody
                    tr.row(ng-repeat='f in food')
                        td {{f.name}}
                        td {{f.type}}
                        td {{f.expiration}}
                        td {{f.quantity}}
                        td.progress
                            .bar(style="width: {{f.percentRemaining}}%")
            angular-table(model='food',filter-query-model='filterText', default-sort-column='id',class="demoTable")
                header-row
                    header-column(sortable='true', sort-field-name='Name', class="demoHeaderColumn")
                        div(style='display: inline-block;') Name
                        sort-arrow-ascending
                        sort-arrow-descending

                    header-column(sortable='true', sort-field-name='type', class="demoHeaderColumn")
                        | Type
                    header-column(sortable='true', sort-field-name='expiration', class="demoHeaderColumn")
                        | Expiration
                    header-column(sortable='true', sort-field-name='quantity', class="demoHeaderColumn")
                        | Quantity
                    header-column(sortable='true', sort-field-name='quantity', class="demoHeaderColumn" )
                        | % Remaining
                row(on-selected='handleRowSelection(row)', selected-color='#87cefa', even-color='#ffffff', odd-color='#eeeeee')

                    column {{ row.name }}
                    column {{ row.type }}
                    column {{ row.expiration }}
                    column {{ row.quantity }}
                    column
                        .progress
                            .bar(style="width: {{row.percentRemaining}}%")







            br
            //.span12  This is a test
            a.btn.btn-success(ng-click='toggleForm()', ng-hide='isFormActive') Add One
            button(ng-click='toggleForm()', ng-show='isFormActive') Hide Form
            form(ng-show='isFormActive')
                hr
                label(for='name') Name:
                input(name='name', ng-model='editableFood.name')
                br
                label(for='type') Type:
                input(name='type', ng-model='editableFood.type')
                br
                label(for='expiration') Expiration
                input(name='expiration', ng-model='editableFood.expiration')
                br
                label(for='quantity') Quantity
                input(name='quantity', ng-model='editableFood.quantity')
                br
                label(for='percentRemaining') Percent Remaining
                input(name='percentRemaining', ng-model='editableFood.percentRemaining')
                br
                .span4.text-right
                    .row
                        button(ng-click='toggleForm()') Cancel
                        button(ng-click='addFood()') Add
    #footer
        a.copyright(target='_blank', href='http://sailsjs.com') Built with Sails.js
    style(type='text/css')
        label { width: 150px; display:inline-block; text-align:right; }
        button { margin-right: 10px;}
        .text-right { text-align: right;}
