h2 PO
pre.
     Selected date is:
     {{dt | date:'fullDate' }}
    .well.well-small.pull-left(ng-model='dt')
    datepicker(min='minDate', show-weeks='showWeeks')
    br
    .form-horizontal
    input(type='text', datepicker-popup='dd-MMMM-yyyy', ng-model='dt', is-open='opened', min='minDate', max='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true')

    button.btn(ng-click='open()')
        i.icon-calendar
    hr
    button.btn.btn-small.btn-inverse(ng-click='today()') Today
    //button.btn.btn-small.btn-inverse(ng-click='dt = \'2009-08-24\'') 2009-08-24
    button.btn.btn-small.btn-success(ng-click='toggleWeeks()', tooltip='For inline datepicker') Toggle Weeks
    button.btn.btn-small.btn-danger(ng-click='clear()') Clear
    button.btn.btn-small(ng-click='toggleMin()', tooltip='After today restriction') Min date