

form.form-horizontal(name='myForm',class="form-signin", novalidate)
    .control-group(ng-class='{error: myForm.name.$invalid}')
        .control-group
        pre.
             {{mess}}
            .well.well-small.pull-left(ng-model='po1.Date')
            .form-horizontal
            label.control-label(for='inputDate') Date
            .controls
                input#inputDate(type='text', datepicker-popup='dd-MMMM-yyyy', ng-model='po1.Date', is-open='opened',
                max='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)',required)
                //    input#inputDate(type='text', datepicker-popup='dd-MMMM-yyyy', ng-model='po1.Date', is-open='opened', min='minDate', max='\'2015-06-22\'', datepicker-options='dateOptions', date-disabled='disabled(date, mode)',required)

                button.btn(ng-click='open()' ,style='margin-bottom: 15px;')
                    i.icon-calendar


       .controls
            //input#inputvendorName(type='text',ng-model='po1.VendorID', placeholder='vendorName',readonly='true')

        //        label.control-label(for='inputdate') Date
        //        .controls
        //            input#inputdate(type='date',ng-model='po1.Date', placeholder='Date')

        label.control-label(for='vendor') Vendor
        .controls

            select#vendor(ng-model='currentVendor', ng-options='v.CompanyName for v in vendor', ng-change='setCurrentVendor(currentVendor)',required)

        label.control-label(for='inputComments') Comments
        .controls
            textarea(type='text', rows='3', ng-model='po1.Comments',style='width:360px', placeholder='Comments',required)




        //label.control-label(for='inputacctDesc') acctDesc
         .controls
            input#inputacctDesc(type='text',ng-model='po1.acctDesc', placeholder='acctDesc')

        label.control-label(for='account') account
        .controls
                select#account(ng-model='currentAccount', ng-options='a.Desc for a in account', ng-change='setCurrentAccount(currentAccount)')

                //{{currentAccount | json}}


        label.control-label(for='inputSubTotal') SubTotal
        .controls
            input#inputSubTotal(type='text',ng-model='po1.SubTotal', placeholder='SubTotal')

        label.control-label(for='inputTaxPcnt') TaxPcnt
        .controls
            input#inputTaxPcnt(type='text',ng-model='po1.TaxPcnt', placeholder='TaxPcnt')

        label.control-label(for='inputTaxAmount') TaxAmount
        .controls
            input#inputTaxAmount(type='text',ng-model='po1.TaxAmount', placeholder='TaxAmount')



        label.control-label(for='inputFreight') Freight
        .controls
                input#inputFreight(type='text',ng-model='po1.Freight', placeholder='Freight')


        label.control-label(for='inputPOTotal') POTotal
        .controls
                input#inputPOTotal(type='text',ng-model='po1.POTotal', placeholder='POTotal')
     .span12
        input(ng-model='detail.desc',placeholder='Enter Description')
        input(ng-model='detail.qty',placeholder='Enter qty',style='width:60px')
        input(ng-model='detail.unitprice',placeholder='Enter price',style='width:75px')
        select(ng-model='detail.account', ng-options='a.Desc for a in account')
        button.btn.btn-primary(ng-click='addContact()') Add Line Item





     .span12
        //{{myForm.$invalid}}
        // a.btn(href='/po',ng-click='cancel()') Cancel
        // a.btn(ng-click='cancel()') Cancel
        button.btn.btn-warning(ng-click='cancel()') Cancel
        button.btn.btn-primary(ng-click='save()', ng-disabled='isClean() || myForm.$invalid') Save
        //button.btn.btn-primary(ng-click='create()') Create
        // button.btn.btn-primary(ng-click='save()', ng-disabled='myForm.$invalid' ) Save
        // button.btn.btn-primary(ng-click='save()') Save
        button.btn.btn-danger(ng-click='destroy()', ng-show='project.$id') Delete
        button.btn.btn-primary(ng-click='addContact()') Add Contact



