vendorview.jade
p
    #inside
    #header
        h2 Purchase Orders


    #main-content


        input.search-query(style='width:100px', type='text', ng-model='gridOptions1.filterOptions.filterText', placeholder='Filter')
        a.btn.btn-sm.btn-primary(ng-click='new()') New
        //        button(ng-click='save()') Save
        //        button(ng-click='changeGrid()') ChangeGrid
        //        button(ng-click='testRoute()') testRoute /meetings/10/11/12
        //
        //        //div(class="selectedItems") {{mySelections}}
        //        // {{vendor | json}}
        //        select#vendor(ng-model='currentVendor', ng-options='v.CompanyName for v in vendor', ng-change='setcurrentVendor(currentVendor)')

        div(style='width: 100%; height: 700px;',class="gridStyle", ng-grid='gridOptions1')



    #footer

        a.copyright(target='_blank', href='http://sailsjs.com') Built with Sails.js     ,ng-disabled='currentVendor.VendorID!="null"'

