p
    #inside
    #header
        h2 Edit User
            | - Jade UserEdit z@z.com



    form(name='myForm',,class="form-signin")
            .control-group(ng-class='{error: myForm.name.$invalid}')
                //.span12
                label id
                 | for {{user.ID}}
                //label Name

                //input(type='text', style='width:300px', name='name', ng-model='user.name', required='required')
                label username
                input(type='text', style='width:300px', name='username', ng-model='user.username', required='required')
                .control-group
                    label.control-label
                        i.icon-envelope
                        | Email
                    .controls
                        input.span6(type='email', placeholder='user@email.com', ng-model='user.email', required)



                label Name
                input(name='name', ng-model='user.name')
                label Title
                input(name='Title', ng-model='user.title')
                //label Role

                 .control-group
                    label.radio.inline(ng-repeat='role in roles.role_status')
                        | {{role}}
                        input(type='radio', value='{{role}}', ng-model='user.role_status', name='option')
                .row
                br
                label Role

                .control-group
                    label.radio.inline(ng-repeat='role in roles2')
                        | {{role.name}}
                        input(type='radio', value='{{role.id}}', ng-model='user.role', name='option')




                .control-group
                label Password

                input(type='password', style='width:300px', name='password', ng-model='user.password', required='required')

                .row
                button.btn.btn-primary(ng-click='save()', ng-disabled='isClean() || myForm.$invalid') Save
                button.btn.btn-primary(ng-click='cancel()') Close

